.button {
  padding: 10px 20px;
  background: $mainColor;
  border-radius: 5px;
  border: none;
  user-select: none;
  color: $white;
  cursor: pointer;
  transition: 0.2s all ease;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background: $mainColorHover;
  }

  &.start {
    margin: 0 20px;
  }
}