.header {
  margin-bottom: 30px;
  user-select: none;

  h1 {
    font-family: 'Kaushan Script';
    font-size: 80px;
    position: relative;
    margin: 0;

    span {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 300;
      margin: 0;
      font-size: 16px;
      position: absolute;
      right: 0;
      bottom: -5px;
    }
  }
}