.start-screen {
  > div {
   margin-bottom: 15px;

   &:last-child {
     margin-bottom: 0;
   }
 }

 .options {
   user-select: none;
   transition: 0.2s all ease;

   &--highlight {
     padding: 15px 30px;
     background: lighten($inputBackground, 7);
     border-top: 1px $inputBackground solid;
     border-bottom: 1px $inputBackground solid;
     margin-left: -30px;
     margin-right: -30px;

     svg:not(.fa-check) {
       margin-right: 5px;
       position: relative;
       margin-bottom: -3px;
       transition: 0.2s all ease;

       &.active {
         color: $mainColor;
       }
     }

     .options__box {
       width: calc(100% - 40px);
       margin-bottom: 10px;
       letter-spacing: normal;
       text-transform: none;
       text-align: left;

       .fa-check {
         top: 7px;
       }

       &:last-child {
         margin-bottom: 0;
       }
     }
   }

   input[type="checkbox"] {
     display: none;

     &.show {
       display: inline-block !important;
     }

     &:checked + label {
       .options__box__check {
         opacity: 1;
         transform: scale(1);
       }
     }
   }

   &__box {
     display: inline-block;
     outline: none;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2px;
     position: relative;
     margin-right: 10px;
     margin-bottom: 10px;
     user-select: none;
     position: relative;

     &__character {
       &__label {
         display: block;
         padding: 10px 20px 25px 20px;
         border-radius: 5px;
         border: 1px $inputBackground solid;
         transition: 0.2s all ease;
         cursor: pointer;
 
         &:hover {
           border-color: $inputBackgroundHover;
         }
       }
     
       &:nth-of-type(2) {
         margin-right: 0;
         float: right;
       }
     }

     &__check {
       opacity: 0;
       position: absolute;
       top: 5px;
       right: 5px;
       transition: 0.2s all ease;
       background: $mainColor;
       color: $white;
       border-radius: 998px;
       width: 15px;
       transform: scale(0.75);
       padding: 5px;
       height: 15px;
       text-align: center;
     }

     span {
       font-weight: bold;
       display: block;
       margin-bottom: 5px;
       font-size: 32px;
     }
   }

   &__sub {
     position: absolute;
     letter-spacing: 2px;
     font-size: 11px;
     text-transform: uppercase;
     display: block;
     bottom: -11px;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 5px;
     border: 1px $inputBackground solid;
     background: $white;
     padding: 3px;
     white-space: nowrap;
     cursor: pointer;

     &__checkbox {
       border-radius: 99px;
       border: 1px $inputBackground solid;
       height: 15px;
       width: 15px;
       line-height: 16px;
       display: inline-block;
       margin-right: 5px;

       &__check {
         color: $mainColor;
         transform: scale(0);
         // opacity: 0;
         transition: 0.2s all ease;
       }

       &__input:checked + .options__sub {
         .options__sub__checkbox {
           &__check {
             opacity: 1;
             transform: scale(1);
           }
         }
       }
     }

     &:hover {
       border-color: $inputBackgroundHover;
     }
   }
 }
}

.input-row {
 display: block;
 margin-bottom: 0 !important;
 margin-top: 15px;
 cursor: pointer;

 &:hover {
   .input-row__checkbox {
     border-color: $inputBackgroundHover;
   }
 }

 &__checkbox {
   border-radius: 99px;
   border: 1px $inputBackground solid;
   height: 17px;
   transition: 0.2s all ease;
   width: 17px;
   line-height: 17px;
   display: inline-block;
   margin-right: 5px;
   text-align: center;

   &__check {
     color: $mainColor;
     transform: scale(0);
     opacity: 0;
     transition: 0.2s all ease;
   }

   &__input:checked + .input-row {
     .input-row__checkbox {
       &__check {
         opacity: 1;
         transform: scale(1);
       }
     }
   }
 }
}

.input-label {
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 12px;
 margin-bottom: 10px;
}

button.input-control {
 user-select: none;
 cursor: pointer;
}

.input-control {
 border: 1px $inputBackground solid;
 background: #fff;
 transition: 0.2s all ease;
 border-radius: 5px;
 line-height: 30px;
 height: 30px;
 padding: 0 10px;
 font-size: 10px;
 text-transform: uppercase;
 letter-spacing: 1px;

 &.alt {
   background: $mainColor;
   color: $white;
   border-color: transparent;

   &:hover,
   &:active {
     background: $mainColorHover;
   }
 }

 &:hover,
 &:active {
   background: $inputBackground;
 }

 &.icon {
   width: 30px;
   height: 30px;
   padding: 0;
   text-align: center;
   display: inline-block;
   border-radius: 999px;
 }

  .start-block {
    > div {
      display: inline-block;
      width: 50%;
    }
  }
}