.start-screen {
  > div {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .characters-header {
    margin: 0 -31px;
    margin-right: -31px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 0;
    background: lighten($inputBackground, 7);
    border-top: 1px $inputBackground solid;
    border-bottom: 1px $inputBackground solid;
  }

  .options {
    user-select: none;
    transition: 0.2s all ease;

    &--highlight {
      padding: 15px 30px;
      background: lighten($inputBackground, 7);
      border-top: 1px $inputBackground solid;
      border-bottom: 1px $inputBackground solid;
      margin-left: -31px;
      margin-right: -31px;

      svg:not(.fa-check) {
        margin-right: 5px;
        position: relative;
        margin-bottom: -3px;
        transition: 0.2s all ease;

        &.active {
          color: $mainColor;
        }
      }

      .options__box {
        width: calc(100% - 40px);
        margin-bottom: 10px;
        letter-spacing: normal;
        text-transform: none;
        text-align: left;

        .fa-check {
          top: 7px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &--rows {
      margin: 0;
      margin-left: -31px;
      margin-right: -31px;
      max-height: 312px;
      overflow: auto;

      @media (max-width: $breakpoint-mobile) {
        height: calc(100vh - 369px);
        max-height: none;
        overflow: auto;
      }

      .options__box {
        display: block;
        text-align: left;
        border-top: 1px $inputBackground solid;
        transition: 0.2s all ease;
        margin-bottom: 0;
        background: lighten($inputBackground, 3);

        &:first-child {
          border-top: none;
        }

        &--checked {
          background: inherit;
        }
      }
    }

    input[type="checkbox"] {
      display: none;

      &.show {
        display: inline-block !important;
      }

      &:checked + label {
        .options__box__check {
          opacity: 1;
          transform: scale(1) translateY(-50%);
        }
      }
    }

    &__box {
      display: inline-block;
      outline: none;
      text-align: center;
      position: relative;
      user-select: none;
      position: relative;

      &__character {
        &__label {
          -webkit-tap-highlight-color: transparent;
          display: block;
          transition: 0.2s all ease;
          cursor: pointer;
          display: grid;
          grid-template-columns: 50px auto;
          grid-gap: 10px;
          padding: 10px;
          padding-right: 40px;
          position: relative;
          align-items: center;

          &:hover {
            border-color: $inputBackgroundHover;
          }
        }

        &__icon {
          vertical-align: middle;
          font-size: 24px;
          width: 50px;
          display: inline-block;
          text-align: center;

          &--combo {
            font-size: 25px;
          }
        }

        &__details {
          h2 {
            font-size: 0.9rem;
            margin: 0;
            margin-bottom: 3px;
          }

          p {
            font-size: 0.8rem;
            margin: 0;
          }
        }
      }

      &__check {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 5px;
        transition: 0.2s all ease;
        background: $mainColor;
        color: $white;
        border-radius: 998px;
        width: 15px;
        transform: scale(0.75) translateY(-50%);
        padding: 5px;
        height: 15px;
        text-align: center;
      }
    }
  }
}

.input-row {
  display: block;
  margin-bottom: 0 !important;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    .input-row__checkbox {
      border-color: $inputBackgroundHover;
    }
  }

  &__checkbox {
    border-radius: 99px;
    border: 1px $inputBackground solid;
    height: 17px;
    transition: 0.2s all ease;
    width: 17px;
    line-height: 17px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;

    &__check {
      color: $mainColor;
      transform: scale(0);
      opacity: 0;
      transition: 0.2s all ease;
    }

    &__input:checked + .input-row {
      .input-row__checkbox {
        &__check {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.input-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 10px;
}

button.input-control {
  user-select: none;
  cursor: pointer;
}

.input-control {
  border: 1px $inputBackground solid;
  background: #fff;
  transition: 0.2s all ease;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.alt {
    background: $mainColor;
    color: $white;
    border-color: transparent;

    &:hover,
    &:active {
      background: $mainColorHover;
    }
  }

  &:hover,
  &:active {
    background: $inputBackground;
  }

  &.icon {
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    display: inline-block;
    border-radius: 999px;
  }

  .start-block {
    > div {
      display: inline-block;
      width: 50%;
    }
  }
}
