body {
  &:before {
    transition: 0.2s all ease;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }

  &.dark {
    color: $darkModeTextColor;

    &:before {
      background: rgba(0, 0, 0, 0.7);
      background-attachment: fixed;
      position: fixed;
    }

    .container {
      background: $darkModeBackground;
      border: 1px $darkModeInputBorderColor solid;
    }

    .character {
      background: $darkModeMainColor;
      color: $darkModeTextColor;
    }

    .scores {
      &__total {
        &__correct {
          span {
            color: $darkModeScoresCorrectTextColor;
          }
        }

        &__wrong {
          span {
            color: $darkModeScoresWrongTextColor;
          }
        }
      }
    }

    .input {
      .answer {
        background: $darkModeAnswerBackground;
        color: $darkModeAnswerTextColor;
      }

      .submit {
        background: $darkModeAnswerButtonBackground;
        color: $darkModeAnswerButtonTextColor;

        &:hover {
          background: lighten($darkModeAnswerButtonBackground, 12);
        }
      }
    }

    .answer-options {
      button {
        background: $darkModeAnswerOptionsBackground;
        color: $darkModeAnswerOptionsTextColor;
        border-color: $darkModeAnswerOptionsBorderColor;

        &:hover {
          background: $darkModeAnswerOptionsBackgroundHover;
          color: $darkModeAnswerOptionsTextColorHover;
          border-color: $darkModeAnswerOptionsBorderColorHover;
        }
      }
    }

    .options {
      &__box {
        border-color: $darkModeInputBorderColor !important;

        &:hover {
          background: #222 !important;
        }

        &__character {
          &__label {
            &:hover {
              border-color: $darkModeInputBorderColorHover;
            }
          }
        }

        &__check {
          background: $darkModeCheckActiveBackground;
          color: $darkModeCheckActiveTextColor;
        }
      }

      &--rows {
        .options__box {
          background: $darkModeBackground;

          &--checked {
            background: #222;
          }
        }
      }

      &--highlight {
        background: #222;
        border-color: $darkModeInputBackground;

        svg:not(.fa-check).active {
          color: $darkModeCheckActiveBackground;
        }
      }

      &__sub {
        background: #222;
        border-color: $darkModeInputBorderColor;

        label:hover {
          border-color: $darkModeInputBorderColorHover;

          .options__sub__checkbox {
            border-color: $darkModeInputBorderColorHover;
          }
        }

        &__checkbox {
          border-color: $darkModeInputBorderColor;

          &__check {
            color: $darkModeMainColor;
          }
        }
      }
    }

    .input-control {
      background: $darkModeInputBackground;
      color: $darkModeInputTextColor;
      border-color: $darkModeInputBorderColor;

      &:hover {
        color: $darkModeInputTextColorHover;
        background: $darkModeInputBackgroundHover;
        border-color: $darkModeInputBorderColorHover;
      }
    }

    .start-screen {
      .button {
        color: $darkModeInputAltTextColor;
        background: $darkModeInputAltBackground;
        border-color: $darkModeInputAltBorderColor;

        &:hover {
          color: $darkModeInputAltTextColorHover;
          background: $darkModeInputAltBackgroundHover;
          border-color: $darkModeInputAltBorderColorHover;
        }
      }
    }

    .input-row {
      background: #222;
      border-color: $darkModeInputBorderColor;

      &:hover .input-row__checkbox {
        border-color: $darkModeInputBorderColorHover;
      }

      &__checkbox {
        border-color: $darkModeInputBorderColor;

        &__check {
          color: $darkModeMainColor;
        }
      }
    }

    /* Modal */
    .swal2-popup {
      background: $darkModeBackground;

      .swal2-title {
        color: $darkModeTextColor;
      }

      .swal2-content {
        color: $darkModeTextColor;

        .report-totals__box {
          border-color: $darkModeInputBorderColor;
        }

        .report-wrong-answers__item {
          border-color: $darkModeInputBorderColor;
        }
      }

      .swal2-styled.swal2-confirm {
        color: $darkModeInputAltTextColor;
        background: $darkModeInputAltBackground !important;
        border: none !important;
        outline: none;
      }
    }

    .game-timer > div > div {
      color: $darkModeTextColor !important;
    }
  }
}
